.body {
    font-family: 'Roboto Condensed';
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .container{
        width: 500px;
        height: 800px;
        padding: 20px 20px;
        border-radius: 15px;
        background: #360160;
    }

    .title {
        width: 350px;

        font-weight: 700;
        font-size: 32px;
        line-height: 47px;

        color: #FFDC40;
    }

    .low-title1 {
        width: 380px;
        height: 23px;

        font-weight: 400;
        font-size: 30px;

        color: #FFFFFF;
    }

    .inp1 {
        width: 380px;
        height: 52px;

        border-radius: 10px;

        font-weight: 400;
        font-size: 32px;

        color: #000000;
    }

    .low-title2 {
        width: 380px;
        height: 23px;

        font-weight: 400;
        font-size: 30px;

        color: #FFFFFF;
    }

    .quality {
        width: 390px;
        height: 60px;

        border-radius: 10px;

        font-weight: 400;
        font-size: 32px;

        color: #000000;
    }

    .low-title3 {
        width: 380px;
        height: 23px;

        font-weight: 400;
        font-size: 30px;

        color: #FFFFFF;
    }

    .inp3 {
        width: 380px;
        height: 52px;

        border-radius: 10px;

        font-weight: 400;
        font-size: 32px;

        color: #000000; 
    }

    .tea {
        display: flex;
        font-size: 20px;
        color: #FFFFFF;
    }

    .total {
        display: flex;
        font-size: 20px;
        color: #FFFFFF;
    }

    .f1 {
        text-align: right;
        color: #B6B6B6;
    }

    .f2 {
        text-align: right;
        color: #B6B6B6;
    }

    .count {
        width: 180px;
        height: 60px;

        font-size: 30px;

        background: #FFDC40;
        border-radius: 15px;
    }

    .throw {
        width: 180px;
        height: 60px;

        font-size: 30px;

        background: #7C7A7A;
        border-radius: 15px;
    }

    .otp1 {
        font-weight: 700;
        font-size: 30px;

        color: #FFFFFF;
    }

    .otp2 {
        font-weight: 700;
        font-size: 30px;

        color: #FFFFFF;
    }
}

@media screen and (min-width: 479px) and (max-width: 767px) {
    .container{
        width: 500px;
        height: 800px;
        padding: 20px 20px;
        border-radius: 15px;
        background: #360160;
    }

    .title {
        width: 350px;

        font-weight: 700;
        font-size: 32px;
        line-height: 47px;

        color: #FFDC40;
    }

    .low-title1 {
        width: 380px;
        height: 23px;

        font-weight: 400;
        font-size: 30px;

        color: #FFFFFF;
    }

    .inp1 {
        width: 380px;
        height: 52px;

        border-radius: 10px;

        font-weight: 400;
        font-size: 32px;

        color: #000000;
    }

    .low-title2 {
        width: 380px;
        height: 23px;

        font-weight: 400;
        font-size: 30px;

        color: #FFFFFF;
    }

    .quality {
        width: 390px;
        height: 60px;

        border-radius: 10px;

        font-weight: 400;
        font-size: 32px;

        color: #000000;
    }

    .low-title3 {
        width: 380px;
        height: 23px;

        font-weight: 400;
        font-size: 30px;

        color: #FFFFFF;
    }

    .inp3 {
        width: 380px;
        height: 52px;

        border-radius: 10px;

        font-weight: 400;
        font-size: 32px;

        color: #000000; 
    }

    .tea {
        display: flex;
        font-size: 20px;
        color: #FFFFFF;
    }

    .total {
        display: flex;
        font-size: 20px;
        color: #FFFFFF;
    }

    .f1 {
        text-align: right;
        color: #B6B6B6;
    }

    .f2 {
        text-align: right;
        color: #B6B6B6;
    }

    .count {
        width: 180px;
        height: 60px;

        font-size: 30px;

        background: #FFDC40;
        border-radius: 15px;
    }

    .throw {
        width: 180px;
        height: 60px;

        font-size: 30px;

        background: #7C7A7A;
        border-radius: 15px;
    }

    .otp1 {
        font-weight: 700;
        font-size: 30px;

        color: #FFFFFF;
    }

    .otp2 {
        font-weight: 700;
        font-size: 30px;

        color: #FFFFFF;
    }
}

@media screen and (max-width: 479px) {
    .container{
        width: 100%;
        height: 100%;
        padding: 4% 4%;
        border-radius: 3%;
        background: #360160;
    }

    .title {
        width: 80%;

        font-weight: 700;
        font-size: 16%;
        line-height: 10%;

        color: #FFDC40;
    }

    .low-title1 {
        width: 76%;
        height: 5%;

        font-weight: 400;
        font-size: 6%;

        color: #FFFFFF;
    }

    .inp1 {
        width: 76%;
        height: 10%;

        border-radius: 2%;

        font-weight: 400;
        font-size: 6%;

        color: #000000;
    }

    .low-title2 {
        width: 76%;
        height: 4%;

        font-weight: 400;
        font-size: 6%;

        color: #FFFFFF;
    }

    .quality {
        width: 78%;
        height: 12%;

        border-radius: 2%;

        font-weight: 400;
        font-size: 6%;

        color: #000000;
    }

    .low-title3 {
        width: 76%;
        height: 4%;

        font-weight: 400;
        font-size: 6%;

        color: #FFFFFF;
    }

    .inp3 {
        width: 76%;
        height: 10%;

        border-radius: 2%;

        font-weight: 400;
        font-size: 6%;

        color: #000000; 
    }

    .tea {
        display: flex;
        font-size: 4%;
        color: #FFFFFF;
    }

    .total {
        display: flex;
        font-size: 4%;
        color: #FFFFFF;
    }

    .f1 {
        text-align: right;
        color: #B6B6B6;
    }

    .f2 {
        text-align: right;
        color: #B6B6B6;
    }

    .count {
        width: 36%;
        height: 12%;

        font-size: 6%;

        background: #FFDC40;
        border-radius: 3%;
    }

    .throw {
        width: 36%;
        height: 12%;

        font-size: 6%;

        background: #7C7A7A;
        border-radius: 3%;
    }

    .otp1 {
        font-weight: 700;
        font-size: 6%;

        color: #FFFFFF;
    }

    .otp2 {
        font-weight: 700;
        font-size: 6%;

        color: #FFFFFF;
    }
}
