.container{
    width: 500px;
    height: 800px;
    padding: 20px 20px;
    border-radius: 15px;

    background: #360160;
}

.title {
    width: 350px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 90.3%;
    /* or 47px */


    color: #FFDC40;
}

.low-title1 {
    width: 380px;
    height: 23px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

.inp1 {
    width: 380px;
    height: 52px;

    border-radius: 10px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */


    color: #000000;
}

.low-title2 {
    width: 380px;
    height: 23px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

.quality {
    width: 390px;
    height: 60px;

    border-radius: 10px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #000000;
}

.low-title3 {
    width: 380px;
    height: 23px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

.inp3 {
    width: 380px;
    height: 52px;

    border-radius: 10px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */


    color: #000000; 
}

.tea {
    display: flex;
    color: #FFFFFF;
}

.total {
    display: flex;

    color: #FFFFFF;
}

.f1 {
    text-align: right;

    color: #B6B6B6;
}

.f2 {
    text-align: right;

    color: #B6B6B6;
}

.count {
    width: 180px;
    height: 60px;

    background: #FFDC40;
    border-radius: 15px;
}

.throw {
    width: 180px;
    height: 60px;

    background: #7C7A7A;
    border-radius: 15px;
}

.c {
    width: 128px;
    height: 22px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}

.t {
    width: 114px;
    height: 22px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}

.otp1 {
    width: 147px;
    height: 40px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */


    color: #FFFFFF;
}

.otp2 {
    width: 147px;
    height: 33px;

    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;

    color: #FFFFFF;
}
